body {
  margin: 0;
}
header {
  background-color: #373738;
  padding: 15px;
  font-family: 'Fira Sans', sans-serif;

}
header ul {
  float: right;
  color: white;
  
}
header li {
  display: inline-block;
  padding: 0px 5px;
  font-family:'Fira Sans', sans-serif;
}
header p {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 24pt;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 200px 15px;
}
.content {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #7C758A;
  text-align: center;
  font-family:'Fira Sans', sans-serif;
  font-size: 14pt;
 line-height: 22px;
}
.content img{
  width: 200px;
  height: auto;
}
img {
  width: 100px;
  height: auto;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  font-family: 'Fira Sans', sans-serif;

}
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
  font-family: 'Fira Sans', sans-serif;

}
/*My skills */
.mySkills {
 
}

.flexContainer {
  display: flex;
  padding: 60px;
border: 1px #7C758A;
}

.flexContainer div {
border: 5px solid #7C758A;
margin: 20px;
padding: 20px;
justify-content: center;
width: 33%;
}


/*My Work */

.myGrid {
  display:grid;
  grid-template-columns: repeat (3 4fr);
  grid-template-rows: repeat (2 2fr);
  gap: 20px;
  
}
.myGrid .img1 {
  display: grid;
  grid-template-areas:  4fr;
}
